<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cec361">  <td>21/01/30 21:12:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;commonOps.beforClass()[pri:0, instance:Tests.examTests@152aa092]">&gt;&gt;beforClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>21/01/30 21:13:08</td>   <td>22739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="examTests.Test4_send_friend()[pri:0, instance:Tests.examTests@152aa092]">Test4_send_friend</td> 
  <td>main@1237825806</td>   <td></td> </tr>
<tr bgcolor="cec361">  <td>21/01/30 21:13:10</td>   <td>25252</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;commonOps.afterClass()[pri:0, instance:Tests.examTests@152aa092]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1237825806</td>   <td></td> </tr>
</table>
