<h2>Methods that were not run</h2><table>
<tr><td>Tests.examTests.Test2_change_weather_city</td></tr>
<tr><td>Tests.examTests.Test1_url</td></tr>
<tr><td>Tests.examTests.Test3_resulation_smaller</td></tr>
</table>